.main-assentos {
  width: 100%;
  height: 100%;
  padding: 0 14px;
}
.assentos {
  box-sizing: content-box;
  min-height: 203px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.assento {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background: #c3cfd9;
  border: 1px solid #808f9d;
  box-sizing: border-box;
  border-radius: 12px;
  flex-shrink: 0;
  margin: 9px;
}
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  margin-bottom: 40px;
}
.assento.detail {
  margin: 0 37px;
}
.assento.detail h3 {
  position: relative;
  bottom: -30px;
}
.assento.detail.selecionado {
  background: #8dd7cf;
}
.assento.detail.disponivel {
  background: #c3cfd9;
}
.assento.detail.indisponivel {
  background: #fbe192;
}
.nome,
.cpf {
  width: 100%;
  height: 76px;
  margin-bottom: 7px;
}
.nome h3,
.cpf h3 {
  font-size: 18px;
  line-height: 21px;
  color: #293845;
}
.nome input,
.cpf input {
  font-family: "Roboto";
  width: 100%;
  height: 51px;
  font-style: italic;
  font-size: 18px;
  line-height: 21px;
  color: #afafaf;
  padding-left: 18px;
}
.sec-reservar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 160px;
}
.reservar {
  height: 42px;
  width: 225px;
  background-color: #e8833a;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reservar h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
