footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  height: 117px;
  background: #dfe6ed;
  border: 1px solid #9eadba;
  width: 100%;
}
.mini-poster-board {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 89px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin: 0 14px;
}
.mini-poster {
  width: 48px;
  height: 72px;
}
.info-filme h3 {
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #293845;
}
